body {
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: #152945;*/
    background-size: cover;
    background-image: url("Animated Shape.svg");
}

/*h1 {*/
/*    color: #f1f1f1;*/
/*}*/

p, h1 {
    text-align: center;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

.container {
    width: 400px;
    height: 180px;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*margin-top: 20px;*/
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
