<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>User Login</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
<form action="login" method="post">
  <div class="container">
    <h1>Login</h1>
    <p>Please fill in this form to login</p>

    <hr>

    <label for="email"><b>Email</b></label>
    <input type="text" name="email" id="email" placeholder="Enter Email"/>

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" id="password" placeholder="Enter Password"/>
    <hr>

    <input type="submit" class="submitbtn" value="Login"/>

    <div class="signin">
      <p>Don't have an account? <a href="showReg">Register</a></p>
    </div>

    <p th:text="${msg}">
  </div>
</form>

</body>
</html>